.clearButton,
.clearFadeButton {
    display: block;
    background-color: blue;
    border: none;
    font-size: 1.2em;
    width: 100%;
    padding: 15px;
    color: white;
}

.clearButton:hover,
.clearFadeButton:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
    cursor: pointer;
}

.clearFadeButton {
    background-color: black;
    cursor: not-allowed;
    color: grey;
}