* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, 300px); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-rows: repeat(2,100px); */
    grid-auto-rows: 200px;
    grid-gap: 2px;
}

.one {
    color: white;
    background-color: red;
}

.two {
    color: white;
    background-color: blue;
}

.three {
    color: white;
    background-color: green;
}

.four {
    color: white;
    background-color: black;
}

.five {
    color: white;
    background-color: rgb(243, 141, 153);
}

.six {
    color: white;
    background-color: rgb(42, 235, 187);
}