.container {
    width: 100%;
    height: 100%;
    background-color: rgb(66, 4, 181);
    color: white;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}