.container {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: rgb(238, 114, 114);
    width: 45%;
    height: 70vh;
    padding-top: 30px;
    border: 2px solid white;
    position: relative;
}