.post {
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.item {
    position: relative;
    width: 400px;
    height: 200px;
    padding: 30px;
    background-color: black;
    color: white;
    border-radius: 30px;
    line-height: 25px;
}

.id {
    font-size: larger;
    font-weight: 900;
    color: red;
}

.title {
    color: yellow;
}

.body {
    color: rgb(97, 97, 236);
}

.button {
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin-left: 135px;
    padding: 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    width: 100px;
}