.container {
    height: 80%;
    width: 80%;
    background-color: rgb(75, 67, 220);
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 20px;
    padding-top: 20px;
    box-sizing: border-box;
}

.relContainer {
    position: relative;
    height: 100%;
    width: 100%
}