html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100dvh;
    background-color: rgb(226, 137, 137);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textboxer {
    padding: 40px;
    width: 500px;
    border: none;               /*important*/
    border-radius: 50px;

}

.textboxer:hover {
    background-color: rgb(43, 109, 37);
    cursor: pointer;
}

.textboxer:focus {
    background-color: rgb(104, 218, 93);
    outline: 2px solid black;
}