body {
    padding: 0;
    margin: 0;
    background-color: bisque;
}

.container {
    width: 600px;
    height: 600px;
    border: 5px solid black;
    margin-left: 400px;
    margin-top: 80px;
}

.container div {
    width: 100px;
    height: 100px;
    background-color: rgb(139, 139, 13);
    color: white;
    border: 2px solid whitesmoke;
}

.container {
    position: relative;
}

.one {
    position: absolute;
    left: 0;
    top: 0
}

.two {
    position: absolute;
    right: 0;
    top: 0
}

.three {
    position: absolute;
    left: 0;
    bottom: 0
}

.four {
    position: absolute;
    right: 0;
    bottom: 0
}

/*center a div using relative + absolute*/
.five {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}