* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 2fr 5fr;
    gap: 10px;
}

.container div {
    padding: 20px;
}

.one {
    color: white;
    background-color: red;
}

.two {
    color: white;
    background-color: blue;
}

.three {
    color: white;
    background-color: green;
}

.four {
    color: white;
    background-color: black;
}

.five {
    color: white;
    background-color: rgb(243, 141, 153);
}

.six {
    color: white;
    background-color: rgb(42, 235, 187);
}