body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    border: 2px solid black;
}

.navbar div {
    flex-basis: 100px;
    flex-grow: 0;
    flex-shrink: 0;
    width: 50px;
}

.home {
    background-color: grey;
    color: white;
}

.feature {
    background-color: beige;
}

.about {
    background-color: black;
    color: white;
}

.profile {
    background-color: rgb(202, 72, 72);
    color: white;
}