html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

caption {
    color: black;
    padding: 20px;
}

.container {
    height: 100dvh;
    background-color: bisque;
}

.table-container {
    background-color: rgb(64, 64, 212);
    color: white;
    width: 100%;
    border-collapse: collapse;
}

.table-container th {
    text-align: left;
}

.table-container th, .table-container td {
    border: 1px solid white;
    padding: 20px;
}

tfoot tr td:first-child {
    text-align: center;
}