* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.container {
    height: 100dvh;
    display: flex;

}

.container div {
    background-color: blue;
    padding: 20px;
    color: wheat;
}