.submit,
.submitError {
    display: block;
    background-color: green;
    color: white;
    border: none;
    font-size: 1.2em;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.submit:hover,
.submitError:hover {
    opacity: 0.8;
    transition: all 0.3s ease;
}

.submitError {
    background-color: red;
    cursor: not-allowed;
}