.table {
    border: 2px solid black;
    background-color: rgb(5, 8, 93);
    color: #f2f2f2;
    border: 2px solid whitesmoke;
}

table {
    border-collapse: collapse;
    padding: 10px;
}

th, td {
    padding: 8px;
    text-align: left;
  }

tr:hover {
  background-color: coral;
  cursor: pointer;
}

.exportBtn {
    background-color: green;
    color: aliceblue;
    padding: 10px;
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .exportBtn:hover {
    opacity: 0.5;
    cursor: pointer;
  }

  .btnContainer {
    display: flex;
  }