body,
html {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    height: 200px;
    border: 5px solid black;
}

.container div {
    width: 200px;
    padding: 10px;
}

.child1 {
    background-color: rgb(240, 137, 73)
}

.child2 {
    background-color: #de5454
}

.child3 {
    background-color: rgb(115, 235, 85);
}