.homeContainer {
    font-weight: 700;
    font-size: 2em;
    background-color: black;
    color: whitesmoke;
    height: 100%;
    position: relative;
}

.label {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.5em;
    padding-top: 100px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    color: black;
}

.flexContainer div {
    background-color: antiquewhite;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

.flexContainer div:hover {
    opacity: 0.7;
}

.questionContainer {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.pessi {
    margin-right: 40px;
}

.query {
    margin-left: 40px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
}

.lazyDiv {
    position: absolute;
    right: 70px;
    top: 70px;
    border-radius: 50%;
    box-shadow:
        -30px 0px 0 0 skyblue,
        30px 0px 0 0 skyblue,
        0px -20px 0 0 skyblue;
}

.duffur {
    position: absolute;
    left: 70px;
    bottom: 70px;
    border-radius: 50%;
    box-shadow:
        -30px 0px 0 0 rgb(246, 195, 137),
        30px 0px 0 0 rgb(246, 195, 137),
        0px -20px 0 0 rgb(246, 195, 137);
}

.flexContainer .lazyDiv{
    background-color: skyblue;
    color: black;
}

.flexContainer .duffur {
    background-color: rgb(246, 195, 137);
    color: black;
}

.flexContainer .lazyDiv:hover, .flexContainer .duffur {
    opacity: 0.8;
}