* {
    margin: 0 20px;
    padding: 0;
    background-color: bisque;
}

.container {
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr 5fr 1.25fr / repeat(12,1fr);
    grid-gap: 2px;
    grid-template-areas:
    "l l t t t t t t t n n n"
    "c c c c c c c c c c c c"
    "d d d d d d d d d d a a"
    "f f f f f f f f f f f f";
}

.container div {
    padding: 20px;
    margin: 0;
    border: solid whitesmoke;
}

.logo {
    color: white;
    background-color: rgb(55, 57, 48);
    grid-area: l;
}

.title {
    text-align: center;
    color: white;
    background-color: rgb(223, 37, 17);
    grid-area: t;
}

.navitems {
    color: white;
    background-color: yellowgreen;
    text-align: right;
    grid-area: n;
}

.carousel {
    color: white;
    background-color: rgb(69, 52, 198);
    grid-area: c;
}

.content {
    color: white;
    background-color: rgb(16, 146, 122);
    grid-area: d;
}

.ad {
    color: white;
    background-color: rgb(226, 131, 68);
    grid-area: a;
}

.footer {
    color: white;
    background-color: rgb(15, 21, 18);
    grid-area: f;
}