.userData {
    background-color: beige;
    color: black;
    padding: 50px;
    font-size: large;
}

.userData div {
    background-color: rgb(18, 147, 104);
    border: 1px solid white;
    margin: 2px;
    padding: 20px;
}

.actions {
    display: flex;
    justify-content: center;
    background-color: rgb(70, 147, 215);
    padding: 20px;
}

.actions div {
    display: inline-block;
    background-color: rgb(217, 223, 234);
    border: 2px solid rgb(127, 89, 253);
    padding: 20px;
    color: black;
    margin: 5px;
}

.actions div:hover {
    cursor: pointer;
    opacity: 0.7;
}