* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

.parent {
    display: grid;
    border: 5px black solid;
    height: 500px;
    width: 500px;
    margin: 100px auto;
    background-color: yellow;
    grid-template: repeat(5,100px) / repeat(5,100px);
    grid-template-areas:
    "c1 a a a c4"
    "b b b b b"
    "c c c5 d d"
    "e e e e e"
    "c2 f f f c3";
}

.parent div {
    width: 100px;
    height: 100px;
}

.child1 {
    color: white;
    background-color: rgb(202, 10, 23);
    grid-area: c1;
}

.child2 {
    color: white;
    background-color: rgb(70, 160, 21);
    grid-area: c2;
}

.child3 {
    color: white;
    background-color: rgb(19, 8, 119);
    grid-area: c3;
}

.parent .child4 {
    color: white;
    background-color: rgb(144, 164, 29);
    grid-area: c4;
    width: 200px;
    height: 200px;
}

.child5 {
    color: white;
    background-color: rgb(12, 11, 11);
    grid-area: c5;
}