.matrixContainer {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: black;
}

a:hover {
    color: white;
}

.left,
.right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock {
    background-color: white;
    width: 350px;
    height: 350px;
}

.key {
    width: 250px;
    height: 250px;
}


.left {
    background-color: black;
    font-size: 3em;
    color: rgb(245, 245, 245);
}

.right {
    background-color: rgb(38, 20, 170);
    font-size: 3em;
    color: whitesmoke;
    border: 10px solid white;
    box-sizing: border-box;
}

.right:hover {
    cursor: pointer;
    opacity: 0.7;
}

.outlet {
    flex: 1;
}