html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(129, 24, 32);
}

.table-scroll-container {
    overflow: auto;
    max-height: 350px;
    max-width: 450px;
}

.table-container {
    background-color: rgb(64, 64, 212);
    color: white;
    width: 100%;
    border-collapse: collapse;

}

.table-container th {
    text-align: left;
    background-color: rgb(233, 74, 74);
}

.table-container th,
.table-container td {
    border: 1px solid white;
    padding: 20px;
}

.table-container tfoot td:first-child {
    text-align: center;
}

.content {
    height: 1000px;
    background-color: black;
}

/* first row sticky */
.table-container thead {
    color: yellow;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* first column sticky */
.table-container th:first-child,
.table-container td:first-child {
    color: black;
    position: sticky;
    left: 0;
    background-color: rgb(233, 74, 74);
}
