* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

.container {
    min-height: 100dvh;
    background-color: rgb(224, 158, 78);
}

.level1 {
    font-size: 2em;
}

.level2 {
    font-size: 2em;
}


#id2 {
    font-size: 1.5rem;
}