html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    height: 100dvh;
    background-color: rgb(226, 107, 107);
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox {
    padding: 20px;
    width: 300px;
    background-color: beige;
    position: relative;
}

.textbox:hover::before {
    content: "";
    display: none;
}

.textbox:hover::after {
    content:  attr(data-tooltip);
    color: black;
    background-color: rgb(17, 89, 11);
    color: wheat;
    padding: 10px;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: 60px;
}