.container {
    height: 80%;
    width: 80%;
    background-color: rgb(107, 104, 47);
    color: whitesmoke;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: right;
    padding-top: 20px;
    padding-right: 20px;
    box-sizing: border-box;

}

.relContainer {
    position: relative;
    height: 100%;
    width: 100%
}