html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframeItem {
    width: 400px;
    height: 300px;
    border: 10px solid rgb(226, 213, 213);
    overflow: auto;
}