* {
    margin: 0;
    padding: 0;
}

.parent {
    background-color: bisque;
    display: flex;
}

.parent div {
    width: 500px;
    min-width: 300px;
    max-width: 400px;
    flex: 1 1 0px;
    /* flex: 1 1 500px;  */
}

.parent .child1 {
    color: white;
    background-color: red;
}

.parent .child2 {
    color: white;
    background-color: blue;
}
