body {
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
}

.navbar div {
    flex: 1 1 250px;
}

.home {
    background-color: grey;
    color: white;
}

.feature {
    background-color: beige;
}

.about {
    background-color: black;
    color: white;
}

.profile {
    background-color: rgb(202, 72, 72);
    color: white;
}