html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100dvh;

}

.table-scroll-container {
    overflow: auto;
    max-height: 350px;
    max-width: 450px;
}

.table-container {
    background-color: rgb(64, 64, 212);
    color: yellow;
    width: 100%;
    border-collapse: collapse;
}

.table-container th {
    text-align: left;
}

.table-container th,
.table-container td {
    border: 1px solid white;
    padding: 20px;
}

.table-container tfoot td:first-child {
    text-align: center;
}

.content {
    height: 1000px;
    background-color: black;
}