.container {
    background-color: black;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background-color: rgb(141, 132, 131);
    width: 45%;
    height: 70vh;
    padding-top: 30px;
    border: 2px solid white;
    position: relative;
}

.sideText {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    background-color: red;
    color: white;
    border: 3px solid white;
}

.checkButtons {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 75px;
}

.submitButtonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
}