.container {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    grid-template: 250px 200px 100px/repeat(1,1fr);

}

.button {
    background-color: antiquewhite;
    color: black;
    padding: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.value {
    width: 100px;
    height: 100px;
    background-color: rgb(176, 160, 235);
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}